# General
.git
.gitignore
.github
.vscode
*.md
!README.md
!DOCKER_README.md

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build directories

# Test directories
test/
coverage/

# Data directories
.camera.ui

# Logs
logs/
*.log 